.customButtonBaseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: small;
  gap: 8px;
}

.customButtonBaseContainer:hover {
  cursor: pointer;
}

.customButtonIconContainer {
  display: flex;
  align-items: center;
}
